:root {
	--theme-name: Default;
	/*Theme name*/
	--supported-features: animations, blur, customize, type-resize;
	/*Features supported by the theme*/
	--searchtype-sizeorig: 128px;
	/*Set here the default font size*/
	--searchtype-size: 128px;
	/*And here too*/
	--searchtype-onecharsize: 64px;
	/*Set here the average character size, it'll be used in the auto fontsize regulation.*/

	/*Customizable color scheme. It's probably the best to keep them all in an Hexadecimal Format*/
	--customize-primary: #BDE6FB;
	/*The Primary color, which will be used to calculate all the other colors*/
	--customize-background: #191F22;
	/*Background Color*/
	--customize-searchtip: #BDE6FB60;
	/*Dimmed Primary color*/
	--customize-searchaction: #BDE6FB50;
	/*Even more dimmed Primary color*/
	--customize-circles: #3D4C52;
	/*Dimmed primary color, but instead of opacity, the actual RGB Values are changed*/
	--customize-hoverbookmark: #65656550;
	/*The Color used to highlight the bookmarks when they're hovered*/
	--customize-context: #7A95A3;
	/*The Color used to highlight context menu entries*/
}

html {
	background-color: var(--customize-background);
	height: 100%;
	width: 100%
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	border: none;
	background-image: url("../imgs/back.svg");
	background-size: 90px;

}

p,
input,
label,
a,
#notif-text,
button {
	font-family: Arial, Inter, sans-serif;
	color: white;
}

.Micon {
	font-family: Material Design Icons;
	font-size: 26px;
	margin: 0;
}

.black {
	color: black;
	font-size: 16px;
}

#body-centerbox,
.centerbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#body-centerbox {
	min-height: 100%;
}


.searchbox-container {
	position: relative;
	width: 100%;
	height: 152px;
}

#search-box,
#search-tip {
	width: 100%;
	height: 152px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: var(--customize-primary);
	font-size: var(--searchtype-size);
	text-align: center;
	outline: none;
	caret-color: var(--customize-primary);
	overflow: hidden;
	box-sizing: border-box;
}

#search-tip {
	color: var(--customize-searchtip);
	margin: 0;
	height: initial;
	white-space: nowrap;
}

#search-box {
	position: absolute;
	top: 0px;
	left: 0px;
}

.searchbox-url {
	text-decoration: underline;
}

.searchbox-clickable {
	cursor: pointer;
}

.searchbox-eval {
	font-family: Consolas, "Ubuntu Mono", monospace;
	color: #00f942 !important;
}

#searchbox-action {
	color: var(--customize-searchaction);
	margin-top: 20px;
	text-align: center;
}


#searchengines-container,
.bookmark-like-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 32px;
	margin: 10px 0 34px 0;
	gap: 5px 30px;
}

.bookmark-like-container {
	height: auto;
	transition: height 0.7s;
	gap: 4px 4px;
	margin: 10px 0 0 0;
}

#folder-content-container {
	margin: 0 0 0 0;
}

#newfolder-container,
#existingfolders-container {
	margin-bottom: 10px;
}

#newfolder-container {
	height: 110px;
}


.bookmark-icon,
.search-link {
	filter: grayscale(100%) contrast(1);
	opacity: 0.7;
	transition: filter 0.2s, opacity 0.2s, margin 0.2s;
	cursor: pointer;
	object-fit: contain;
}

.search-engine,
.bookmark-icon {
	min-width: 22px;
	max-width: 32px;
	height: auto;
	border-radius: 5px;
}

.search-link {
	margin-bottom: -4px;
	width: 32px;
	height: 32px;
}

.search-link * {
	pointer-events: none;
}

.bookmark-icon {
	max-width: 24px;
	min-width: 18px;
}

.search-link:hover,
.in-use,
.in-use * {
	filter: initial;
	opacity: 1;
	transition: margin 0.2s;
}

.in-use {
	margin-bottom: initial;
	cursor: initial;
}

.bookmark-link {
	flex-direction: column;
	width: 95px;
	height: 110px;
	transition: background-color 0.1s;
	border-radius: 5px;
}

.bookmark-link * {
	pointer-events: none;
}

.bookmark-link:hover {
	background-color: var(--customize-hoverbookmark);
	cursor: pointer;
	transition: initial;
}

.bookmark-circle {
	width: 46px;
	height: 46px;
	border-radius: 46px;
	background-color: var(--customize-circles);
}

.bookmark-title {
	color: #AAAAAAF0;
	margin: 14px 0 0 0;
	font-size: 12.5px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 90px;
}

.bookmark-link:hover .bookmark-icon {
	filter: grayscale(0%);
	opacity: 1;
}

.folder-icon {
	transition: color 0.3s, text-shadow 0.3s, padding 0.3s;
	padding: 2.5px 0 0 0;
	color: #909090;
	text-shadow: initial;
}

.bookmark-link:hover .folder-icon,
.in-use .folder-icon {
	transition: color 0.2s, text-shadow 0.2s, padding 0.2s;
	color: inherit;
	text-shadow: inherit;
	padding: 0 0 0 0;

}

#settings-icon {
	position: fixed;
	top: 7px;
	right: 7px;
	opacity: 25%;
	font-size: 21px;
	transition: opacity 0.2s;
	cursor: pointer;
}

#settings-icon:hover {
	opacity: 1;
}

.settings-overlay {
	position: fixed;
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #09090950;
	z-index: 2;
	transition: transform 0.25s, opacity 0.25s, visibility 0.25s, background-color 0.5s, top 0.25s;
}

.sHidden {
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0);
	backdrop-filter: initial;
}

.settings-container {
	display: flex;
	transform: scale(1);
	flex-direction: column;
	background-color: color-mix(in srgb, var(--customize-background) 90%, white 10%);
	box-shadow: 0px 5px 10px #212121;
	width: auto;
	height: auto;
	max-height: 100%;
	border-radius: 10px;
	padding: 16px;
	transition: backdrop-filter 0.4s, background-color 0.4s, transform 0.4s;
}

.sHidden .settings-container {
	transform: scale(0.5);
}

@supports (backdrop-filter: blur(2em)) {
	body:not(.no-blur) .settings-container {
		backdrop-filter: blur(28px);
		background-color: #4A4A4A60;
	}

	body:not(.no-blur) .notification-popup {
		backdrop-filter: initial;
	}
}

.scrollablebox::-webkit-scrollbar {
	display: none;
}

.scrollablebox {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.settings-title {
	font-size: 26px;
	margin: 0 0 8px 0;
	width: 100%;
}

.settings-category-title {
	margin: 10px 0 10px 0px;
}

.settings-type {
	box-sizing: border-box;
	background-color: #FFFFFF12;
	border: 1px solid #FFFFFF08;
	border-bottom: 1px solid #A0A0A0;
	border-radius: 4px;
	width: 220px;
	height: 32px;
	min-height: 32px;
	margin: 0 1px 5px 0;
	padding: 0 12px;
	outline: none;
	transition: border 0.1s, background-color 0.1s;
	font-weight: 400;
	color: white;
}

.settings-type:first-child {
	margin-left: 0 !important;
}

.settings-type:last-child {
	margin-right: 0 !important;
}

.settings-type:hover {
	background-color: #FFFFFF1E;
}

.settings-type:focus {
	background-color: #232323;
	height: 31px;
	min-height: 31px;
  	border: 1px solid #FFFFFF20;
	border-bottom: 2px solid var(--customize-primary);
	transition: initial
}

form {
	margin: 0 0 14px 0;
}

.no-margin {
	margin: 0;
}

.radio-label {
	font-size: 14px;
}

.radio-label:hover {
	color: #C0C0C0;
}

.settings-alt-numpad {
	display: none;
	margin-left: 10px;
}

#settings-enable-alt-shortcut:checked~.settings-alt-numpad {
	display: initial;
}

.settings-button, .dialog-button {
	display: inline-block;
	cursor: pointer;
	height: 32px;
	min-height: 32px;
	width: auto;
	padding: 0px 20px 0px 20px;
	font-size: 15px;
	background-color: #FFFFFF0E;
	border: 1px solid #FFFFFF06;
	border-radius: 4px;
	text-align: center;
	color: white;
	overflow: hidden;
}

label.settings-button {
	display: inline-block;
	box-sizing: border-box;
	align-content: center;
}

.dialog-button {
	font-weight: 500;
	min-width: 100px;
	padding: 0px 10px;
	border-radius: 4px;
	margin: 8px 0 0 2px;
}

.settings-cross {
	cursor: pointer;
	margin-bottom: 10px;
	transition: color 0.1s;
	border-radius: 4px;
}

.settings-close-bottom {
	display: none
}

.settings-cross:hover {
	color: #FFFFFF90;
}

.settings-cross:active{
	color: var(--customize-primary);
}

.settings-checkbox, .settings-selector {
	margin: 5px 4px;
}

.confirm-button {
	color: var(--customize-primary);
}

.highlight, .dialog-button.confirm-button {
	background-color: var(--customize-context);
	color: white;
}

.red {
	color: #f44336;
	border: 1px solid #f4433670;
}

.row,
.reverse-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 5px;
}

.reverse-row {
	flex-direction: row-reverse;
	align-items: center;
}

.ripple {
	transition: background 0.2s;
	cursor: pointer;
}

.ripple:hover {
	background: #FFFFFF18;
}

.ripple:active {
	transition: initial;
	background-color: #FFFFFF18;
	opacity: 70%
}

.ripple.settings-button:active, .ripple.dialog-button:active {
	border: 1px solid #FFFFFF18;
}

.ripple.highlight:hover,  .dialog-button.confirm-button:hover {
	background: initial;
	background-color: color-mix(in srgb, var(--customize-context), #FFFFFF90);
}

.ripple.highlight:active, .dialog-button.confirm-button:active {
	background-color: color-mix(in srgb, var(--customize-context), #FFFFFF70);
	color: #FFFFFF90;
	opacity: initial;
}

#mobile-warning {
	color: yellow;
	font-size: 12px;
	display: none;
	margin: 8px 0 8px 0;
	font-style: italic;
}

.notification-popup {
	position: fixed;
	z-index: 2;
	right: 25px;
	top: 25px;

	cursor: pointer;
	visibility: visible;
	min-width: 150px;
	max-width: 350px;
	background-color: #33333350;
	border-radius: 5px;
	padding: 12px 16px 12px 16px;
	box-shadow: 0px 2px 5px #191919;
	transition: visibility 0.3s, opacity 0.3s, right 0.3s, bottom 0.3s;
}

.nHidden {
	right: -50px;
	opacity: 0;
	visibility: hidden;
}

.context-menu {
	display: block;
	visibility: visible;
	opacity: 1;
	position: fixed;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 10px
}

.context-close {
	width: 46px;
	margin: 4px 4px 4px calc(100% - 50px);
	font-size: 22px;
	text-align: center;
	border-radius: 4px;
	transition: initial
}
.context-menu .context-close {
	display: none;
}

.context-entry {
	display: flex;
	height: 28px;
	align-items: center;
	margin: 4px;
	padding: 0px 8px;
	font-size: 14px;
	border-radius: 4px;
	transition: initial
}

.context-entry .Micon {
	font-size: 20px;
	margin-right: 4px
}

.context-entry:hover,
.context-close:hover {
	background-color: var(--customize-context);
}


.alt-badge {
	position: fixed;
	background-color: var(--customize-primary);
	width: 25px;
	height: 25px;
	border-radius: 15px;
	box-shadow: 0px 2px 4px var(--customize-searchaction);
}


.fHidden {
	display: none !important;
}

.vHidden {
	visibility: hidden;
}

.mHidden {
	display: initial;
}

.no-animations,
.no-animations * {
	transition: initial !important;
}



@media only screen and (max-width: 550px) {

	.settings-overlay {
		flex-direction: row;
		align-items: flex-end;
	}


	.settings-close-bottom {
		display: initial;
	}

	.sHidden {
		transform: scale(1, 1);
		top: 275px;
	}

	.settings-container {
		border-radius: 0px;
		width: 100%;
		height: auto;
		max-height: 80%;
		background-color: color-mix(in srgb, var(--customize-background) 90%, white 10%)
	}

	.sHidden .settings-container {
		transform: scale(1, 1)
	}

	@supports (backdrop-filter: blur(2em)) {
		body:not(.no-blur) .settings-container {
			backdrop-filter: blur(28px);
			background-color: #4A4A4A60;
		}
	}	

	.context-menu {
		width: auto;
		border-radius: 10px;
	}

	#mobile-warning {
		display: initial;
	}

	.add-element-form {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	.add-element-form br {
		display: none;
	}

	.settings-type {
		margin: 0;
		width: auto;
		height: 36px;
		min-height: 36px;
		font-size: 14px;
	}

	.settings-type:focus {
		height: 36px;
	}

	.notification-popup {
		right: initial;
		top: initial;
		width: 100%;
		border-radius: 0px;
		bottom: 0px;
	}

	.nHidden {
		bottom: -50px;
	}

	.context-close {
		height: 35px;
		font-size: 26px;
	}

	.context-entry {
		height: 35px;
		margin: 4px;
		padding: 0px 10px;
		font-size: 15px;
		border-radius: 6px
	}

	.context-entry .Micon {
		font-size: 22px;
	}

	.mHidden {
		display: none;
	}
}